

<% if current_user.company_id? %>

<h1><%= @company.name %></h1>


<%else%>
<h1>Mi compañia</h1>
<img src="/assets/Bienvenido.png" alt="Mountain View" class="sincompania">
<button class="btn2 btn-warning btn-lg btnhard"
 style="width: 500px;margin-left: 350px;height: 100px;
 margin-top: 10px;"
 onclick="window.location.href = '/companies/new'">
<b>Crear mi compañia</b>
</button>
<%end%>