<%= form_with(model: rate_expense, local: true) do |form| %>
  <% if rate_expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rate_expense.errors.count, "error") %> prohibited this rate_expense from being saved:</h2>

      <ul>
      <% rate_expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
