<p id="notice"><%= notice %></p>


  <% if user_signed_in? %>
   <!-- <img src="http://s3-us-west-2.amazonaws.com/testvaleria/images/Paul.jpg.jpg"/>-->
 
    <%= 
     if current_user.user_img? 
  longurlimg = current_user.user_img.to_s.length;
  dt =  current_user.user_img.to_s.index('?');
   urlimg = current_user.user_img.to_s[0..dt].to_s;
    urlimg[7..8] = "s3-us-west-2";
    image_tag( "#{urlimg}" , :alt => "rss feed", :class => "round");
  else
    image_tag( "/assets/none.png" , :alt => "rss feed", :class => "round");
  end
     %>

    <% end %>