<link href="../assets/new-age.min.css" rel="stylesheet" />
<link href="../assets/sidebar.css" rel="stylesheet" />
<body id="page-top" style="background-color:#1FAB89">
<img src="img/logo2.png"  width="80" height="75" />
<button class="btn btn-lg btn-warning" style="float: right; margin-top: 10px; margin-right: 10px;"> Registrarse</button>
<input type="button" value="Ingresar" name="" class="btn btn-lg btn-info" href="/users/sign_in" style="float: right; margin-top: 10px; margin-right: 10px;"/>
<nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
       
        
        <div class="container">
     
            
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header" >
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brclass="containertotal"and page-scroll" href="#page-top" ></a>
            </div>
			
            <!-- /.navbar-collapse -->
        </div>
		
        <!-- /.container-fluid -->
    </nav>

  <section id="intro" class="intro">
        <div class="intro-content">
            <div class="container">
                
                <div class="row">
                    <div class="col-sm-6 col-md-6 col-lg-6">
                    <div class="wow fadeInDown" data-wow-offset="0" data-wow-delay="0.1s">
                       <video width="500" controls>
          <source src="video/video.mp4" type="video/mp4">
        <source src="mov_bbb.ogg" type="video/ogg">
        Your browser does not support HTML5 video.
        </video>    

                    </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-lg-6 slogan">
                        <div class="wow fadeInUp" data-wow-duration="2s" data-wow-delay="0.2s">
                        <h2><b>EVA TRANSPORTE</b></h2>
                        <p>
                            Confie en EVA para el manejo de su empresa de transporte ¡Y comience a crecer!
                        
                        </p>
                        <p>
                        El control del negocio ahora en sus manos ahora disponible en su versión móvil. 
                        Disfrute ahora mismo y acceda al control inmediato de su negocio.
                        </p>
                        </div>
                        <div class="buttons">
                        <a href="#" class="btn btn-success btn-lg wow fadeInLeft" data-wow-duration="2s" data-wow-delay="0.2s"><i class="fa fa-android fa-2x"></i> Download<br /> <small>Android version 1.4</small></a>
                        <a href="#" class="btn btn-info btn-lg wow fadeInRight" data-wow-duration="3s" data-wow-delay="0.3s"><i class="fa fa-apple fa-2x"></i> Download <br /> <small>iOs version 1.4</small></a>
                        </div>
                        
                    </div>                  
                </div>      
            </div>
        </div>      
    </section>

</body>